@import "screens/main-screen.css";
@import "screens/usrname-screen.css";

@import "components/calendar.css";
@import "components/todo-list.css";
@import "components/quote.css";
@import "components/book-mark.css";
@import "components/music-box.css";
@import "components/weather.css";
@import "components/greeting.css";
@import "components/clock.css";
@import "components/size-over.css";

html {
  margin: 0px;
}

html,
body {
  height: 100vh;
  font-family: "Shantell Sans", cursive;
  position: relative;
}

.hidden {
  display: none;
}

#bg-img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 0.8;
  width: 100vw;
  /*width: 100vw;*/
  height: 800px;
}
