body {
  display: flex;
  position: static;
  height: 900px;
  margin: 0px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box {
  margin: 20px 10px;
  border-radius: 20px;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.3);
}

.left-box {
  width: 30%;
  position: relative;
  height: 90vh;
}

.center-box {
  width: 40%;
}

.right-box {
  width: 30%;
  background: none;
  position: relative;
  height: 90vh;
}

#quote {
  position: absolute;
  bottom: 20px;
}
