body {
  display: flex;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box {
  margin: 20px 10px;
  border-radius: 20px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.left-box {
  width: 30%;
}

.center-box {
  width: 40%;
}

.right-box {
  width: 30%;
  background: none;
}

#clock {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
}

#greeting {
  display: flex;
  justify-content: center;
}
