.calender {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0px;
}

.header {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 100px 10px 100px;
  font-size: 20px;
}

.header {
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.go-today {
  width: 75px;
  color: white;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  margin: 10px -7px 10px 1px;
}

.date {
  width: 13.899%;
  text-align: center;
  /*align-items: center;*/
  padding: 10px 0px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: palevioletred;
  border-radius: 70px;
}

.today::before {
  position: absolute;
  z-index: -1;
  display: block;

  border-radius: 10%;
  transform: translate(-50%, -50%);
  content: "";
}

.go-today {
  font-family: "Shantell Sans", cursive;
}

.nav {
  display: flex;
  justify-content: center;
}
