#quote {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 40px;
  margin: 0px 10px;
  border-radius: 20px;
  height: 100px;
  display: inline-block;
}

#quote span {
  display: inline-block;
  font-size: 15px;
}

#quote span:last-child {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
