#quote {
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: white;
  font-size: 13px;
  font-weight: 200;
  left: 0%;
}

#quote span {
  display: block;
}

#quote span:first-child {
  margin-right: 20px;
}
