#quote {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

#quote span {
  display: block;
  font-size: 15px;
}

#quote span:last-child {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
